* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}


/* common classes */


.discription {
    font-size: 20px;
    color: #7F7F7F;
    line-height: 34px;
    margin: 50px 0;
}

.btn {
    padding-inline: 50px;
    height: 66px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: #6865E7;
    color: white;
    border-radius: 33px;
}

.btn:hover {
    color: #71757E;
    background-color: transparent;
    border: #71757E 2px solid;
}

/* section 1 */
.section1 {
    width: 100vw;
    position: relative;

}

.mainBackground {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0.5;
}

.horizontal-line {
    padding: 0 100px;
}

nav {
    padding: 25px 10vw 42px 10vw;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: -400px;
}

nav ul li {
    margin-left: 75px;
    font-size: 20px;
}

.sub-sec1 {
    padding: 120px 10vw 300px 10vw;

}

.heading1 {
    font-size: 80px;
    font-weight: 900;
    color: white;
}

.heading1+p {
    color: #a3a8a8;
}

.logo-container {
    height: 200px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -74px;
    left: 45px;
    right: 45px;
    background-color: white;
    justify-content: space-evenly;
    border-radius: 36px;

}

/* section 2 */
.section2 {
    width: 100vw;
    background-color: #F6F8FA;
    padding: 0 10vw 158px 10vw;
}

.heading2 {
    font-size: 70px;
    font-weight: 900;
    color: #282A2F;
    text-align: center;
    padding-top: 190px;
    margin-bottom: 70px;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 490px;
    margin-bottom: 120px;
}

.box {
    width: 390px;
    height: 420px;
    border-radius: 24px;
    position: relative;
}

.center {
    align-self: center;
}

.end {
    align-self: flex-end;
}

.bottom-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 124px;
    border-radius: 24px;
    background-color: white;
    position: absolute;
    bottom: -60px;
    left: 20px;
    right: 20px;
    padding-inline: 24px;
    z-index: 10;
}

.sub-heading2 {
    color: #71757E;
    margin-bottom: 10px;
}

.pricetag {
    color: #6C6AE9;
    font-size: 22px;
    font-weight: bolder;
}

.btn-detail {
    padding-inline: 34px;
    height: 54px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: #6865E7;
    color: white;
    border-radius: 27px;
}

.btn-detail:hover {
    color: #71757E;
    background-color: transparent;
    border: #71757E 2px solid;
}

.cardimage {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: cover;
    border-radius: 24px;
}


/* section 3 */
.section3 {
    width: 100vw;
    background-color: #F6F8FA;
    display: flex;
    padding-top: 64px;
    justify-content: space-between;
}

.sec3-left {
    display: flex;
    position: relative;
}

.sec3-right {
    padding-right: 10vw;
}

.featureimage1 {
    position: absolute;
    right: 64px;
    bottom: 144px;
    border-radius: 50px;
    width: 550px;
    object-fit: cover;
    height: 550px;
    object-fit: cover;

}

.featurebgimage1 {
    width: 750px;
    height: 620px;
}

.heading3 {
    font-size: 70px;
    font-weight: 900;
    color: #282A2F;
}

/* section4 */

.section4 {
    width: 100vw;
    background-color: #F6F8FA;
    display: flex;
    padding-top: 190px;
    justify-content: space-between;
}

.sec4-left {
    padding-left: 10vw;
}

.heading4 {
    font-size: 70px;
    font-weight: 900;
    color: #282A2F;
}

.sec4-right {
    display: flex;
    position: relative;
}

.featureimage2 {
    position: absolute;
    left: 64px;
    bottom: 144px;
    border-radius: 50px;
    width: 550px;
    height: 550px;
    object-fit: cover;
}

.featurebgimage2 {
    width: 750px;
    height: 620px;
}

/* section5 */
.section5 {
    width: 100vw;
    background-color: #F6F8FA;
    padding-block: 150px;
}

.blue-container {
    background-color: #6865E7;
    text-align: center;
    margin: 0 80px;
    height: 560px;
    border-radius: 60px;
    padding: 76px 0;
}

.blue-container p {
    color: #ecf0f0;
}

.heading5 {
    font-size: 70px;
    font-weight: 900;
    color: white;
}
.subscription{
    display: flex;
    justify-content: center;
}
.email {
    background-color: #4644a2;
    padding-inline: 25px;
    height: 66px;
    border-radius: 33px;
    width: 500px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.email input {
    background-color: transparent;
    font-size: 20px;
    color: #ecf0f0;
    border: none;
    padding-inline: 24px;
    width: 100%;
}

.subscribe-btn {
    padding-inline: 50px;
    height: 66px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: white;
    color: #6865E7;
    border-radius: 33px;
}


/* section 6 */
.section6{
    width: 100vw;
    padding: 0 10vw;
    background-color: #F6F8FA;
display: flex;
justify-content: space-between;
}

.social-media{
    margin-top: 15px;
    
}
.social-media img{
    margin-right: 15px;
}

.sub-heading6{
    color: #282A2F;
    font-size: large;
}

.sec6-b {
    display: flex;
}

.sec6-b div{
    margin-right: 112px;
    }
.sec6-b div ul li{
    color: #4e4f4f;
    list-style: none;
    font-size: medium;
    margin-top: 30px;
}