* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
/* Navbar starts here */
form {
  background-color: white;
  display: flex;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}
#inputBox {
  border: none;
  width: 270px;
  background-color: transparent;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#search-btn {
  border: none;
  background-color: transparent;
  margin-inline: 10px;
}
/* Navbar ends here */

#temperature {
  font-size: 6rem;
}

.shortScale {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}
@media (max-width: 577px) {
  .shortScale {
    transform: scale(0.8);
  }

  #temperature {
    font-size: 4rem;
  }
}
.sun {
  background: linear-gradient(135deg, rgb(117, 167, 248), rgb(244, 196, 98));
}
.moon {
  background: linear-gradient(135deg, rgb(63, 76, 97), rgb(63, 53, 33));
}

.box12am {
  background: linear-gradient(90deg, #061225, #05264d, #073f7e, #224c90);
  color: #c1cfe4;
}
.box6am {
  background: linear-gradient(
    90deg,
    #224c90,
    #889fc5,
    #ccccda,
    #f1f1f2,
    #f8fae1,
    #f2f6bb
  );
  color: #224c90;
}

.box12pm {
  background: linear-gradient(90deg, #f2f6bb, #f3f3b2, #fafa8e, #ffff69);
  color: #4f4f0c;
}
.box3pm {
  background: linear-gradient(
    90deg,
    #ffff69,
    #fcfc3e,
    #fbe918,
    #fbcf0d,
    #f8b704,
    #ff9900
  );
  color: #606003;
}

.box6pm {
  background: linear-gradient(90deg, #ff9900, #ff7a11, #fe3828, #b1260d);
  color: #eee9e2;
}

.box9pm {
  background: linear-gradient(
    90deg,
    #b1260d,
    #821f14,
    #591912,
    #3a1414,
    #241f1f
  );
  color: #e8cfca;
}
@media (min-width: 1200px) {
  .overalldetails {
    position: relative;
  }
  .sun {
    width: 450px;
    height: 200px;
    position: absolute;
    bottom: 50%;
    left: 10%;
    transform: translate(-20%, 50%);
    z-index: 999;
  }
  .moonOnLarge {
    width: 450px;
    position: absolute;
    bottom: 50%;
    right: 10%;
    transform: translate(20%, 50%);
    z-index: 999;
  }
  .currentDayWeather {
    position: relative;
  }
  .box12am {
    position: absolute;
    top: 4%;
    left: 3%;
    z-index: 999;
    background: linear-gradient(#061225, #05264d, #073f7e, #224c90);
    color: #c1cfe4;
  }
  .box6am {
    position: absolute;
    bottom: 56%;
    left: 7%;
    z-index: 999;
    background: linear-gradient(
      #224c90,
      #889fc5,
      #ccccda,
      #f1f1f2,
      #f8fae1,
      #f2f6bb
    );
    color: #f1f1f2;
  }
  .box6am .card-body {
    color: #293d5e;
  }

  .box12pm {
    position: relative;
    left: 5%;
    background: linear-gradient(90deg, #f2f6bb, #f3f3b2, #fafa8e, #ffff69);
    color: #4f4f0c;
  }
  .box3pm {
    position: relative;
    right: 5%;
    background: linear-gradient(
      90deg,
      #ffff69,
      #fcfc3e,
      #fbe918,
      #fbcf0d,
      #f8b704,
      #ff9900
    );
    color: #606003;
  }
  .box6pm {
    position: absolute;
    bottom: 56%;
    right: 7%;
    z-index: 999;
    background: linear-gradient(#d43f25, #fe3828, #ff7a11, #ff9900);
    color: #eee9e2;
  }
  .box9pm {
    position: absolute;
    top: 4%;
    right: 3%;
    z-index: 999;
    background: linear-gradient(#241f1f, #3a1414, #591912, #821f14, #b1260d);
    color: #e8cfca;
  }
}
.buttonForecast {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  width: 130px;
  background-color: white;
}

.buttonForecast:hover {
  background-color: rgb(71, 69, 69);
  color: #e8f0fe;
}
